@font-face {
    font-family: "horror-font";
    src: url(Death\ Shadow\ Demo.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    cursor: pointer;

    //   background: url('https://i.pinimg.com/originals/38/8b/e2/388be24848b1bbb4388a4352f0af1a5c.gif');
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWEyAQTuwJuKkIkGOqdbmcl9GrltLRmOI48A&s');
    backdrop-filter: 5;
    background-position: center;
    background-size: cover;
}

main {
    height: 100%;
    width: 100%;
    position: relative;
    transition: all ease 0.3s;

    
    h2,
    h3,h4 {
        font-family: "horror-font";
        font-size: 60px;
        color: #222;
        letter-spacing: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    h3 {
        opacity: 0;
        background: linear-gradient(to right , white, blue, white,  crimson, blue, white, crimson, white);
        background-clip: text;
        color:transparent
    }
    h4{
        opacity: 0;
        color:#fff;
    }

    .thor {
        height: 6rem;
        width: 6rem;
        position: absolute;
        opacity: 0;
    }

    .gorr {
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
        height: 50%;
        transition: all ease 0.3s;
    }
}